.banner {
  height: 958px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  .exp {
    max-width: 384px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: 28px;

    li {
      position: relative;
      margin-left: 38px;

      &::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        background: $primary;
        border-radius: 50%;
        top: 6px;
        margin-left: -38px;
      }
    }
  }
}

.brand {
  gap: 40px 24px;

}

.work {
  gap: 48px 24px;

  @include pad {
    gap: 24px 12px;
  }

  li {
    @include pc {
      width: 30%;
    }
    @include pad-below {
      width: 100%;
    }
  }
}